@import "tailwindcss";
/* Light theme */
/* Light theme */
:root {
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-bg: #f3f4f6;
  --color-text: #111827;
  --color-header-bg: #3b82f6;
  --color-footer-bg: #1e40af;
}

/* Dark theme */
[data-theme="dark"] {
  --color-primary: #2563eb;
  --color-secondary: #4f46e5;
  --color-bg: #1f2937;
  --color-text: #f9fafb;
  --color-header-bg: #1e293b;
  --color-footer-bg: #111827;
}
